.activedfdf {

    color : rgb(1, 16, 27);

    color : rgb(93, 0, 255);

    color :rgb(162, 199, 227)(1, 16, 27);

    color : rgb(14, 60, 96);

    color : rgb(10, 29, 44);

    color : rgb(0, 255, 162);
    
    color :rgb(0, 255, 191);

    
    color : rgb(115, 249, 200);



}



.active {

   color : rgb(0, 255, 162);

   border-bottom: 2px solid;

   border-color: rgb(0, 255, 162);

}


